[submodule "lib/DaisySP"]
	path = lib/DaisySP
	url = https://github.com/electro-smith/DaisySP.git
[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "lib/rtmidi"]
	path = lib/rtmidi
	url = https://github.com/thestk/rtmidi.git
